<div class="container-fluid d-flex align-items-center" style="padding: 0;">
    <div class="logo h3">
        <img src="../assets/Images/logo.jfif" alt="logo" style="height: 50px; margin-right: 10px;">
        <h1 class="center-title">Paradise Vacations</h1>
    </div>
<nav class="ml-auto">
    <ul class="list-inline">
      <li class="list-inline-item"><a routerLink="/home">Home</a></li>
      <li class="list-inline-item"><a routerLink="/packages">Packages</a></li>
      <!-- <li class="list-inline-item"><a routerLink="/login">User Login</a></li> -->
      <li class="list-inline-item"><a routerLink="/admin-login">Admin Login</a></li>
      <li class="list-inline-item"><a routerLink="/register">User Register</a></li>
      <li class="list-inline-item"><a routerLink="/about">About Us</a></li>
    </ul>
  </nav>
  </div>
  <router-outlet></router-outlet>
  
  <app-footer></app-footer>
