<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h5>About Us</h5>
            <p>We are dedicated to providing the best vacation experiences, tailored to your dreams and desires.</p>
            <p>With years of experience, our team is here to guide you every step of the way.</p>
        </div>
        <div class="col-md-4">
            <h5>Quick Links</h5>
            <ul class="list-unstyled">
                <li><a href="#" style="color: #ecf0f1; transition: color 0.3s;">Privacy Policy</a></li>
                <li><a href="#" style="color: #ecf0f1; transition: color 0.3s;">Terms of Service</a></li>
                <li><a href="#" style="color: #ecf0f1; transition: color 0.3s;">FAQs</a></li>
                <li><a href="#" style="color: #ecf0f1; transition: color 0.3s;">Blog</a></li>
                <li><a href="#" style="color: #ecf0f1; transition: color 0.3s;">Travel Insurance</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Contact Us</h5>
            <p>Email: <a href="mailto:info@paradisevacations.com" style="color: #ecf0f1; transition: color 0.3s;">info@paradisevacations.com</a></p>
            <p>Phone: <a href="tel:+12345678901" style="color: #ecf0f1; transition: color 0.3s;">+1 (234) 567-8901</a></p>
            <p>Location: 123 Paradise St, Vacation City, CA 90210</p>
            <p>Hours: Mon-Fri: 9am - 6pm</p>
            <h5>Follow Us</h5>
            <div class="social-links">
                <a href="#"><img src="https://img.icons8.com/ios-filled/24/ffffff/facebook-new.png" alt="Facebook"></a>
                <a href="#"><img src="https://img.icons8.com/ios-filled/24/ffffff/instagram-new.png" alt="Instagram"></a>
                <a href="#"><img src="https://img.icons8.com/ios-filled/24/ffffff/twitter.png" alt="Twitter"></a>
            </div>
        </div>
    </div>
    <hr style="border-color: #ecf0f1;">
    <p class="text-center">&copy; 2024 Paradise Vacations. All rights reserved.</p>
</div>