<body>

  <div class="text-center mb-4 admin-register-title">Login</div>
<form (ngSubmit)="login()" class="container">
  <div class="mb-3 position-relative">
    <i class="fa fa-user position-absolute" style="left: 10px; top: 10px;"></i>
    <input
      [(ngModel)]="credentials.UserName"
      name="username"
      id="username"
      class="form-control ps-5"  
      placeholder="Username"
      required
    >
  </div>

  <div class="mb-3 position-relative">
    <i class="fa fa-lock position-absolute" style="left: 10px; top: 10px;"></i>
    <input
      [(ngModel)]="credentials.Password"
      name="password"
      id="password"
      type="password"
      class="form-control ps-5"
      placeholder="Password"
      required
    >
  </div>

  <button type="submit" class="btn btn-primary btn-block">Login</button>
</form>
<br><br><br><br><br><br><br><br>
</body>