<body>

<h2 class="booking-title">Booking List</h2>

<table class="booking-table">

 <thead>

  <tr>

   <th>Booking ID</th>
   <th>User ID</th>
   <th>Package ID</th>
   <th>Number of Guests</th>
   <th>Card Number</th>
   <th>CVV</th>
   <th>Booking Date</th>

  </tr>

 </thead>

 <tbody>

  <tr *ngFor="let booking of objs.bList">   

   <td>{{ booking.BookingId }}</td>

   <td>{{ booking.UserId }}</td>

   <td>{{ booking.PackageId }}</td>

   <td>{{booking.NumberOfGuests}}</td>
   <td>{{booking.CardNumber}}</td>
   <td>{{booking.Cvv}}</td>
   <td>{{booking.BookingDate}}</td>

   <td>

    <button (click)="fillData(booking)">Edit</button>

    <button (click)="onCancel(booking.BookingId)">Cancel</button>

   </td>

  </tr>

 </tbody>

</table>
<br><br><br><br><br><br><br><br><br><br><br><br><br></body>


















