<div class="container mt-5">
    <h2 class="text-center mb-4">Feedback List</h2>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Rating</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let f of objs.fList" class="table-row">
                <td>{{ f.Id }}</td>
                <td>{{ f.Rating }}</td>
                <td>{{ f.Comment }}</td>
            </tr>
        </tbody>
    </table>
</div>
