<!-- <div class="container">
    <h2>Create New Package</h2>
    <form (ngSubmit)="createPackage()" #packageForm="ngForm">
  
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" [(ngModel)]="package.Title" name="title" required class="form-control" />
      </div>
  
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="package.Description" name="description" required class="form-control"></textarea>
      </div>
  
      <div class="form-group">
        <label for="imageName">Image Name:</label>
        <input type="text" id="imageName" [(ngModel)]="package.ImageName" name="imageName" required class="form-control" />
      </div>
  
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" [(ngModel)]="package.Price" name="price" required class="form-control" />
      </div>
  
      <div class="form-group">
        <label for="duration">Duration:</label>
        <input type="text" id="duration" [(ngModel)]="package.Duration" name="duration" required class="form-control" />
      </div>
  
      <button type="submit" class="btn btn-primary">Create Package</button>
    </form>
  </div>
   -->
   <div class="container">
    <h2>Create New Package</h2>
    <form (ngSubmit)="createPackage()" #packageForm="ngForm">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" [(ngModel)]="package.Title" name="title" required class="form-control" />
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" [(ngModel)]="package.Description" name="description" required class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="imageName">Image Name:</label>
            <input type="text" id="imageName" [(ngModel)]="package.ImageName" name="imageName" required class="form-control" />
        </div>

        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" [(ngModel)]="package.Price" name="price" required class="form-control" />
        </div>

        <div class="form-group">
            <label for="duration">Duration:</label>
            <input type="text" id="duration" [(ngModel)]="package.Duration" name="duration" required class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Create Package</button>
    </form>
</div>
